.project{
    /* margin:50px 0px;
    margin-left: 200px; */
    padding-left:100px;
    margin-top:60px;
    
}
.project hr{
    color: #138781;
    width: 400px;
    margin: 10px auto;
}
.project h2{
    color: #138781;
    font-weight: bold;
}
#ads{
    margin-left: 130px;
    /* padding-right: 25px; */
    margin-top: 2rem;
    display: flex;
    
    width: 100%;
    transition: all 0.5s ease;
}
.col-md-4{
    
    width: 30%;
}
 .card-notify-badge{
    position: absolute;
    left: -10px;
    top: -20px;
    background: #f29f67;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: black;
    padding: 5px 10px;
    font-size:14px;

}
.card img{
    height: 180px;
    width: 100%;
    border-radius: 8px;

}
 .card-detail-badge{
    /* background-color: #138781; */
    
    /* background-color: #e0b50f; */
    text-align: center;
    border-radius: 30px 30px 30px 30px;

    padding:5px 10px;
    padding: 5px 3px;
    font-size: 14px;
}
 .card-image-overly{
    font-size: 20px;

}
 .card-image-overly span {
    display: display-block;
    margin-left: 3px;
}
.rounded{
    margin-bottom: 10px;
}
 .rounded:hover{
    background-color: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: all 1s ease;
}
/* .ad-btn{
    text-transform: uppercase;
    width: 150px;
    height: 150px;
    background-color: #138781;
    color: white;
    border-radius: 80px;
    font-size: 10px;
    line-height:35px ;
    text-decoration: none;
    margin: 20px auto 20px auto;
    overflow: hidden;
    position: relative;


} */

/* ======DARk MODE===== */
#dark #projects h2{
    color: #f29f67;
}

/*************************/
@media (max-width:600px){
    .project{
        margin: 0;
        padding: 0;
        margin-top: 50px;
    }
    .project hr{
        width: 280px;
    }
    .project .card{
        margin-top: 30px ;
    }
    #ads {
       
        /* padding-right: 25px; */
       
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: -10px;
    }
    
    .col-md-4 {
        width: 100%; /* Change the width to take up full width on smaller screens */
        max-width: 300px;
        margin-bottom: 20px;
    }
    .card-detail-badge{
        padding-left:5px;
        padding-right: 5px;
    }
    
   
    
    
}