*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DARK MODE */

#dark{
  background: #5f264a;
  color:white;
  background: linear-gradient(to right, #1e1e2c, #2c2c3e, #1e1e2c);

}

@media(max-width:600px)
{
    .footer h6{
        margin: 0;padding: 0;
        margin-left: -58px;
    }
    .scrollTop{
      visibility: hidden;
    }
}
