.education{
    padding:100px 0px;

    padding-left:100px;
    margin-top:60px;
    background-color: rgba(128, 128, 128, 0.116);
    margin-left: 1rem;
}
.education hr{
    color: #138781;
    width: 400px;
    margin: 10px auto;
}
.education h2{
    color: #138781;
    font-weight: bold;
}
.education .vertical-timeline-element-title{
    color: #f29f67;
}

/* ======DARk MODE===== */
#dark #education h2{
    color: #f29f67;
}


/***************************************/
@media (max-width:600px){
    .education{
        margin: 0;
        padding: 0;
        margin-top: 30px;

    }
    .education h2{
        padding-top: 10px;
    }
    .education hr{
        width: 280px;
        margin-bottom: 10px;
    }


}